# Убираем файлы виртуального окружения
venv/
*.egg-info/

# И игнорируем все файлы, связанные с системой Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы конфигурации IDE (например, PyCharm)
.idea/

# Системные файлы операционной системы
.DS_Store
Thumbs.db

# Загруженные файлы (папка для изображений, в частности)
static/uploads/

# Логи
*.log

# Тестовые файлы (если есть)
*.bak
*.swp

# Папки и файлы, которые могут быть созданы в процессе работы
*.db
*.sqlite3
